---
import AboutHeroImage from '../../assets/blog-placeholder-about.jpg';
import Layout from '../../layouts/BlogPost.astro';
import { Content } from './_about_content.md';
---

<Layout
	title="About Me & Detailed Career"
	description="Senior DevOps & Infrastructure Engineer Jeong-Yeol Cho's detailed resume."
	pubDate={new Date('July 15 2026')}
	heroImage={AboutHeroImage}
>
	<div class="prose prose-invert max-w-none text-slate-300">
		<Content />
	</div>
</Layout>
